{{! /ESTA ES LA BASE DE NUESTRA PAGINA. ES LA PLANTILLA BASE DONDE SE VAN A RENDERIZAR TODAS LAS VISTAS QUE CREEMOS/ }}
<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='UTF-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
		integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous' />
	<link rel='stylesheet' href='http://localhost:8080/css/style.css' />
	<title>Handlebars main page</title>
	<script src='/socket.io/socket.io.js' defer></script>
	<script type='text/javascript' src='/js/main.js' defer></script>
	<script type='text/css' src='/css/style.css' defer></script>
</head>

<body>
	{{{body}}}
</body>
<footer>
	<br />
	<br />
</footer>

</html>