<br />
<div>
	<div class='btn-logout-container'>
		<button type='button' onclick='logout_function()' class='logoutbtn'>LogOut</button>
	</div>
	<div>
		<h1 class='welcome-msg'>Bienvenido {{uEmail}}!</h1>
	</div>
</div>